<!DOCTYPE html>
<html lang="en">
<head>
  <title>Developer Dan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "clipster/application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "clipster/application" %>
  <%= csrf_meta_tags %>
  <%=h yield(:head) %>
  <%= render "clipster/common/includes" %>
</head>
<body class="grayout">
    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
              <div class="nav-collapse collapse">
                  <%= link_to "Daniel White", root_path, :class=>"brand"%>
                  <ul class="nav">
                      <li><%= link_to "Clipster", clipster_path %></li>
                      <li><%= link_to "Gauss Crack", "https://github.com/lightswitch05/gaussCrack" %></li>
                      <li><%= link_to "GitHub", "https://github.com/lightswitch05" %></li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="span12">
          <%= yield %>
      </div>
    </div>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29517676-2']);
      _gaq.push(['_setDomainName', 'developerdan.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>
</html>
